[user]
    name = Sasha Matijasic
    email = sasha@selectnull.com

[alias]
    st = status
    ci = commit
    co = checkout
    slog = log --all --graph --pretty=format:'%Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
    diffmerge = difftool --tool=diffmerge
    df = difftool --no-prompt

[diff]
    tool = icdiff
    guitool = p4merge
[difftool "icdiff"]
    cmd = icdiff \"$LOCAL\" \"$REMOTE\"
    pager = less -rFX
[difftool "p4merge"]
    cmd = "/Applications/p4merge.app/Contents/Resources/launchp4merge $BASE $LOCAL $REMOTE $MERGED"

[merge]
    tool = p4merge
[mergetool "p4merge"]
    cmd = "/Applications/p4merge.app/Contents/Resources/launchp4merge $PWD/$BASE $PWD/$LOCAL $PWD/$REMOTE $PWD/$MERGED"
    trustexitcode = true

[color]
    ui = true

[core]
    editor = /usr/local/bin/vim
    pager = less -rFX
    ignoreCase = false
[push]
    default = simple
[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true

[pager]
    difftool = true
[pull]
    ff = only
[init]
    defaultBranch = master
