[user]
    name = Sasha Matijasic
    email = sasha@selectnull.com

[alias]
    st = status
    ci = commit
    co = checkout
    slog = log --all --graph --pretty=format:'%Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
    diffmerge = difftool --tool=diffmerge

[diff]
    tool = icdiff
    guitool = diffmerge
[difftool "icdiff"]
    cmd = icdiff \"$LOCAL\" \"$REMOTE\"
[difftool "diffmerge"]
    cmd = diffmerge \"$LOCAL\" \"$REMOTE\"

[merge]
    tool = diffmerge
[mergetool "diffmerge"]
    cmd = diffmerge --merge --result=\"$MERGED\" \"$LOCAL\" \"$BASE\" \"$REMOTE\"
    trustexitcode = true

[color]
    ui = true

[core]
    editor = /usr/bin/vim
[push]
    default = simple
